@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-light: #d3d3d3;   /* Light Gray */ 
  --cyan-light: #00e5ff;   /* Light Cyan */
  --cyan: #00bcd4;         /* Primary Cyan */
  --cyan-dark: #00838f;    /* Dark Cyan */
  --cyan-darker: #005662;  /* Darker Cyan */
  --cyan-darkest: #06141f; /* Darkest Cyan */
  --blue: #13343f;         /* Primary Blue */
  --blue-dark: #091420;    /* Dark Blue */
  --blue-darker: #040b14;  /* Darker Blue */
}

body {
  @apply bg-blue-dark text-white;
}

.bg-cyan-light {
  background-color: var(--cyan-light);
}

.bg-cyan {
  background-color: var(--cyan);
}

.bg-cyan-dark {
  background-color: var(--cyan-dark);
}

.bg-cyan-darker {
  background-color: var(--cyan-darker);
}

.text-gray-light {
  color: var(--gray-light)
}

.text-cyan-light {
  color: var(--cyan-light);
}

.text-cyan {
  color: var(--cyan);
}

.text-cyan-dark {
  color: var(--cyan-dark);
}

.text-cyan-darker {
  color: var(--cyan-darker);
}

.bg-cyan-darkest {
  background-color: var(--cyan-darkest);
}

.bg-blue-dark {
  background-color: var(--blue-dark);
}

.bg-blue-darker {
  background-color: var(--blue-darker);
}

/* Define a static wavy gradient background */
.bg-wavy-gradient {
  background: linear-gradient(90deg, var(--blue), var(--blue-dark));
}